[submodule "modules/sdl"]
	path = modules/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "modules/xxHash"]
	path = modules/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui
[submodule "modules/bullet"]
	path = modules/bullet
	url = https://github.com/bulletphysics/bullet3
[submodule "modules/lua"]
	path = modules/lua
	url = https://github.com/lua/lua
[submodule "modules/lbfgs"]
	path = modules/lbfgs
	url = https://github.com/chokkan/liblbfgs
[submodule "modules/libsvm"]
	path = modules/libsvm
	url = https://github.com/cjlin1/libsvm
[submodule "modules/cxxopts"]
	path = modules/cxxopts
	url = https://github.com/jarro2783/cxxopts/
[submodule "modules/freetype"]
	path = modules/freetype
	url = https://github.com/freetype/freetype.git
[submodule "modules/layout"]
	path = modules/layout
	url = https://github.com/randrew/layout.git
[submodule "modules/gtest"]
	path = modules/gtest
	url = https://github.com/google/googletest.git
[submodule "modules/utf8"]
	path = modules/utf8
	url = https://github.com/nemtrif/utfcpp
[submodule "modules/yojimbo"]
	path = modules/yojimbo
	url = https://github.com/eXl-Nic/yojimbo.git
[submodule "modules/libsodium"]
	path = modules/libsodium
	url = https://github.com/jedisct1/libsodium.git
